.App-header {
  display: flex;
  color: #e0344a;
  align-items: center;
  border-bottom: thick solid #e0344a;
}

.App-header img {
  width: 144px;
}

.App-header h1 {
  margin: 0;
}

.App-body {
  padding: 16px 24px;
}

.App-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: thick solid #e0344a;
}
